{% extends 'nav.html.twig' %}

{% block title %}Historia{% endblock %}

{% block body %}
    <style>
        @import url('https://fonts.googleapis.com/css?family=Abel');

        html, body {
            background: #fbd4fc;
            font-family: Abel, Arial, Verdana, sans-serif;
        }

        .center {
            position: absolute;
            top: 53%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
        }

        .card {
            width: 450px;
            height: 250px;
            background-color: #fff;
            background: linear-gradient(#f8f8f8, #fff);
            box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
            border-radius: 6px;
            overflow: hidden;
            position: relative;
            margin: 1.5rem;
        }

        .card h1 {
            text-align: center;
        }

        .card .additional {
            position: absolute;
            width: 150px;
            height: 100%;
            background: linear-gradient(#744e89, #842489);
            transition: width 0.4s;
            overflow: hidden;
            z-index: 2;
        }

        .card.green .additional {
            background: linear-gradient(#92bCa6, #A2CCB6);
        }


        .card:hover .additional {
            width: 100%;
            border-radius: 0 5px 5px 0;
        }

        .card .additional .user-card {
            width: 150px;
            height: 100%;
            position: relative;
            float: left;
        }

        .card .additional .user-card::after {
            content: "";
            display: block;
            position: absolute;
            top: 10%;
            right: -2px;
            height: 80%;
            border-left: 2px solid rgba(0, 0, 0, 0.025);
            */
        }

        .card .additional .user-card .level,
        .card .additional .user-card .points {
            top: 6%;
            color: #fff;
            text-transform: uppercase;
            font-size: 0.75em;
            font-weight: bold;
            background: rgba(0, 0, 0, 0.15);
            padding: 0.125rem 0.75rem;
            border-radius: 100px;
            white-space: nowrap;
        }

        .card .additional .user-card .points {
            top: 85%;
        }

        .card .additional .user-card svg {
            top: 50%;
        }

        .card .additional .more-info {
            width: 300px;
            float: left;
            position: absolute;
            left: 150px;
            height: 100%;
        }

        .card .additional .more-info h1 {
            color: #fff;
            margin-bottom: 0;
        }

        .card.green .additional .more-info h1 {
            color: #224C36;
        }

        .card .additional .coords {
            margin: 0 1rem;
            color: #fff;
            font-size: 1rem;
        }

        .card.green .additional .coords {
            color: #325C46;
        }

        .card .additional .coords span + span {
            float: right;
        }

        .card .additional .stats {
            font-size: 2rem;
            display: flex;
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            right: 1rem;
            top: auto;
            color: #fff;
        }

        .card.green .additional .stats {
            color: #325C46;
        }

        .card .additional .stats > div {
            flex: 1;
            text-align: center;
        }

        .card .additional .stats i {
            display: block;
        }

        .card .additional .stats div.title {
            font-size: 0.75rem;
            font-weight: bold;
            text-transform: uppercase;
        }

        .card .additional .stats div.value {
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 1.5rem;
        }

        .card .additional .stats div.value.infinity {
            font-size: 2.5rem;
        }

        .card .general {
            width: 300px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            box-sizing: border-box;
            padding: 1rem;
            padding-top: 0;
        }

        .card .general .more {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            font-size: 0.9em;
        }

    </style>
    <div class="container">
        <div class="row">
    {% for historia in historias %}
            <div class="col">
        <div class="card">
            <div class="additional">
                <div class="user-card">
                    <div class="level center">
                        vrummmmmm
                    </div>
                    <div class="points center">
                        5,312 Points
                    </div>
                    <img width="110" height="200" src="https://webkit.org/demos/srcset/image-src.png" class="center logo">

                </div>
                <a href="/historia/{{ historia.getId }}">
                    <div class="more-info">
                    <h1>{{ historia.getTitulo }}</h1>
                    <div class="coords">
                        <span>Group Name</span>
                        <span>Joined January 2019</span>
                    </div>
                    <div class="coords">
                        <span>Position/Role</span>
                        <span>City, Country</span>
                    </div>
                    <div class="stats">
                        <div>
                            <div class="title">Finalizada?</div>
                            <i class="fa fa-trophy"></i>
                            <div class="value">{% if  historia.getStatus == 1 %}
                                    Sim
                                {% else %}
                                    Nao
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <div class="title">Matches</div>
                            <i class="fa fa-gamepad"></i>
                            <div class="value">27</div>
                        </div>
                        <div>
                            <div class="title">Classificacao</div>
                            <i class="fa fa-group"></i>
                            <div class="value">{{ historia.getClassificacao }}</div>
                        </div>
                        <div>
                            <div class="title">Coffee</div>
                            <i class="fa fa-coffee"></i>
                            <div class="value infinity">∞</div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="general">
                <h1>{{ historia.getTitulo }}</h1>
                <p>{{ historia.getSinopse }}.</p>
                <span class="more">Mouse over the card for more info</span>
            </div>


            <div>
                <h2></h2><br>
                <h3>Sinopse</h3>
                <p></p><br>
                <h3>Status</h3>
                <p></p><br>
                <h3>Classificacao</h3>
                <p>{{ historia.getClassificacao }}</p><br>
            </div>
        </div>
            </div>
    {% endfor %}
        </div>
    </div>
{% endblock %}