{% extends 'nav.html.twig' %}

{% block title %}Historia{% endblock %}

{% block body %}

    <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <h4>
                        Historia
                    </h4>
                    <span>
                    <a href="" class="btn btn-info btn-sm">
                        Denunciar História
                    </a>
                </span>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column bd-highlight mb-3">
                <h4>{{ historia.getTitulo }}</h4>
                <h4 class="font-weight-light">Autor</h4>
                <img src="https://webkit.org/demos/srcset/image-src.png" alt="">
                <h5 class="font-weight-light">01/01/2000</h5>
            </div>
        </div>
        <div class="p-2 bd-highlight">
            <div>
                <p>
                    {{ historia.getSinopse }}
                </p>
            </div>
        </div>
        <div class="p-2 bd-highlight">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <h4>
                        Capitulos
                    </h4>
                    <span>
                    <h4>
                        Status: {{ historia.getStatus }}
                    </h4>
                </span>
                </li>
            </ul>
        </div>
        <div class="p-2 bd-highlight">
            <div class="p-2 bd-highlight">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <ul class="list-group">
                            {% for capitulo in capitulos %}
                                <li class="list-group-item d-flex justify-content-between">
                                    <a href="/capitulo/{{ capitulo.id }}">
                                        {{ capitulo.titulo|e }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
