{% extends 'nav.html.twig' %}

{% block title %}História{% endblock %}

{% block body %}

    <style xmlns:http="http://www.w3.org/1999/xhtml">
        h4,h5{
            text-align: center;
        }

        p{
            text-align: center;
        }

        img{
            padding-top: 10px;
            padding-bottom: 20px;
            max-width: 400px;
        }

        img.img-responsive.image-resize{
            height: 380px;
            object-fit: cover;
            object-position: center;
        }


        div#divTitulo{
            padding-top: 40px;
            padding-bottom: 20px;
        }

        a#button-denunciar{
            font-size: small;
            height: min-content;
        }

        div#box{
            width: 100%;
            height: 2px;
            background-color: #744e89;
        }

        a{
            color: #313131;
        }

        a:hover{
            color: #666666;
            text-decoration: none;
        }

        h3{
            text-align: center;
        }

        a.badge.badge-secondary{
            font-size: medium;
        }

        a.badge.badge-info{
            font-size: medium;
        }

        div#divLike{
            margin-top: 30px;
        }

    </style>

    <div class="d-flex flex-column bd-highlight mb-3">

            <div class="container-fluid" id="divTitulo">
                <div class="d-flex justify-content-between">
                    <h4>História</h4>
                    <a href="/denuncia/create/{{ historia.getId }}" class="btn btn-secondary" id="button-denunciar">
                        Denunciar História
                    </a>
                </div>
                <div id="box"></div>
            </div>

        <div class="container-fluid" id="divCorpo">
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column bd-highlight mb-3">
                    <h3>{{ historia.getTitulo }}</h3>
                    <h4 class="font-weight-light"><a href="/autores/{{ autor.getId }}" class="font-weight-light">{{ nome_autor }}</a></h4>

                    <img src="/uploads/images/historias/{{ historia.image }}" alt="">
                    <h5 class="font-weight-light">{{ historia.getDataPublicacao|date('d/m/Y') }}</h5>
                </div>
            </div>
            <div class="p-2 bd-highlight">
                <div>
                    <p>
                        {{ historia.getSinopse }}
                    </p>
                </div>
            </div>
            <div class="p-2 bd-highlight">
                <div class="text-center">
                    {% for categoria in categorias %}
                        <a href="/categorias/{{ categoria.id }}" class="badge badge-secondary">{{ categoria.titulo }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="p-2 bd-highlight">
                <div class="text-center">
                    {% for genero in generos %}
                        <a href="/generos/{{ genero.id }}" class="badge badge-info">{{ genero.titulo }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="p-2 bd-highlight" id="divLike">
            <div class="text-center">
                {% if avaliacao != null %}
                    <h5><span><a href="/unlike/{{ historia.id }}" class="unlike" id="button-unlike"><i class="fas fa-heart"></i></a></span></h5>
                {%  endif %}
                {% if avaliacao == null %}
                    <h5><span><a href="/like/{{ historia.id }}" class="like" id="button-like"><i class="far fa-heart"></i></a></span></h5>
                {% endif %}

                <p>{{ avaliacoes|length }} Likes</p>
            </div>
            </div>
        </div>

        <div class="text-center">
            <a class="btn btn-info"
               href="http://twitter.com/share?text=Lendo%20{{ historia.getTitulo }}&hashtags=WriteIt&url=https://t.co/">
                Tweet <i class="fab fa-twitter"></i>
            </a>
        </div>

        <div class="container-fluid" id="divTitulo">
            <div class="d-flex justify-content-between">
                <h4>Capítulos</h4>
                <h4>
                    Status:{% if  historia.getStatus == 1 %}
                        Concluída
                    {% else %}
                        Em andamento
                    {% endif %}
                </h4>
            </div>
            <div id="box"></div>
        </div>

        <div class="p-2 bd-highlight">
            <div class="list-group">
                    {% for capitulo in capitulos %}
                        <a href="/capitulo/{{ capitulo.id }}" class="list-group-item list-group-item-action" id="list-capitulo">
                            {{ capitulo.titulo|e }}
                        </a>
                    {% endfor %}
            </div>
        </div>
    </div>

    </div>

    <script type="text/javascript">

    </script>

{% endblock %}


