{% extends 'nav.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>

    @import url('https://fonts.googleapis.com/css?family=Abel');

    html, body {
        background: #fffffc;
        font-family: Abel, Arial, Verdana, sans-serif;
    }

    h2{
        margin-top: 10px;
    }

    .center {
        position: absolute;
        top: 53%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
    }

    .card {
        width: 450px;
        height: 250px;
        background-color: #fff;
        background: linear-gradient(#f8f8f8, #fff);
        box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
        border-radius: 6px;
        overflow: hidden;
        position: relative;
        margin: 1.5rem;
    }

    .card h1 {
        text-align: center;
    }

    .card .additional {
        position: absolute;
        width: 150px;
        height: 100%;
        background: linear-gradient(#744e89, #9065a7);
        transition: width 0.4s;
        overflow: hidden;
        z-index: 2;
    }

    .card.green .additional {
        background: linear-gradient(#92bCa6, #A2CCB6);
    }


    .card:hover .additional {
        width: 100%;
        border-radius: 0 5px 5px 0;
    }

    .card .additional .user-card {
        width: 150px;
        height: 100%;
        position: relative;
        float: left;
    }

    .card .additional .user-card::after {
        content: "";
        display: block;
        position: absolute;
        top: 10%;
        right: -2px;
        height: 80%;
        border-left: 2px solid rgba(0, 0, 0, 0.025);
        */
    }

    .card .additional .user-card .level,
    .card .additional .user-card .points {
        top: 6%;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: bold;
        background: rgba(0, 0, 0, 0.15);
        padding: 0.125rem 0.75rem;
        border-radius: 100px;
        white-space: nowrap;
    }

    .card .additional .user-card .points {
        top: 85%;
    }

    .card .additional .user-card svg {
        top: 50%;
    }

    .card .additional .more-info {
        width: 300px;
        float: left;
        position: absolute;
        left: 150px;
        height: 100%;
    }

    .card .additional .more-info h1 {
        color: #fff;
        margin-bottom: 0;
    }

    .card.green .additional .more-info h1 {
        color: #224C36;
    }

    .card .additional .coords {
        margin: 0 1rem;
        color: #fff;
        font-size: 1rem;
    }

    .card.green .additional .coords {
        color: #325C46;
    }

    .card .additional .coords span + span {
        float: right;
    }

    .card .additional .stats {
        font-size: 2rem;
        display: flex;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        top: auto;
        color: #fff;
    }

    .card.green .additional .stats {
        color: #325C46;
    }

    .card .additional .stats > div {
        flex: 1;
        text-align: center;
    }

    .card .additional .stats i {
        display: block;
    }

    .card .additional .stats div.title {
        font-size: 0.75rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .card .additional .stats div.value {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.5rem;
    }

    .card .additional .stats div.value.infinity {
        font-size: 2.5rem;
    }

    .card .general {
        width: 300px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        box-sizing: border-box;
        padding: 1rem;
        padding-top: 0;
    }

    .card .general .more {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        font-size: 0.9em;
    }

    div#autores{
        padding: 70px 30px 50px 30px;
    }

    div#historiasAcao{
        padding: 70px 10px 50px 10px;
    }

    div#historiasAventura{
        padding: 70px 10px 50px 10px;
    }

    div#historias{
        padding: 70px 10px 50px 10px;
    }

    div#historiasAcao h1{
        padding-left: 30px;
    }

    div#historiasAventura h1{
        padding-left: 30px;
    }

    div#historias h1{
        padding-left: 30px;
    }

    div#categorias{
        padding: 50px 30px 50px 30px;
    }

    div#categorias h3{
        margin-bottom: 15px;
    }

    div#categorias a.card2{
        width: 180px;
    }


    .card2 {
        display: block;
        top: 0px;
        position: relative;
        max-width: 262px;
        background-color: #f2f8f9;
        border-radius: 4px;
        padding: 32px 24px;
        margin: 12px;
        text-decoration: none;
        z-index: 0;
        overflow: hidden;
        border: 1px solid #f2f8f9;
    }

    .card2:hover {
         transition: all 0.2s ease-out;
         box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
         top: -4px;
         border: 1px solid #cccccc;
         background-color: white;
     }

    .card2:before {
         content: "";
         position: absolute;
         /*z-index: -1;*/
         /*top: -16px;*/
         /*right: -16px;*/
         /*background: #00838d;*/
         /*height: 32px;*/
         /*width: 32px;*/
         border-radius: 32px;
         transform: scale(2);
         transform-origin: 50% 50%;
         transition: transform 0.15s ease-out;
     }

    .card2:hover:before {
         transform: scale(2.15);
     }

    h3 {
        color: #262626;
        font-size: 17px;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 4px;
    }

    p {
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        color: #666666;
    }
    p.small {
         font-size: 14px;
     }

    div.general p{
        overflow: hidden;
        height: 80px;
    }

    div.row{
        /*padding-left: 30px;*/
    }

    div.col{
        max-width: 500px;
    }

    a.card2 h2{
        color: #262626;
    }

    /*.go-corner {*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    justify-content: center;*/
    /*    position: absolute;*/
    /*    width: 32px;*/
    /*    height: 32px;*/
    /*    overflow: hidden;*/
    /*    top: 0;*/
    /*    right: 0;*/
    /*    background-color: #00838d;*/
    /*    border-radius: 0 4px 0 32px;*/
    /*}*/

    /*.go-arrow {*/
    /*    margin-top: -4px;*/
    /*    margin-right: -4px;*/
    /*    color: white;*/
    /*    font-family: courier, sans;*/
    /*}*/

</style>

<div class="container-fluid">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://dummyimage.com/1000x300/f5f2ef/fff" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://dummyimage.com/1000x300/f5f2ef/fff" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://dummyimage.com/1000x300/f5f2ef/fff" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <div id="autores">
    <h1>Autores Recomendados</h1>
    <div class="row">
        {% for autor in autores %}
            <a class="card2" href="/autores/{{ autor.id }}">
                <h3>{{ autor.apelido }}</h3>
                <p class="small">Card description with lots of great facts and interesting details.</p>

                <div class="go-corner" href="/autores/{{ autor.id }}">
                    <div class="go-arrow">
                    </div>
                </div>
            </a>
        {% endfor %}
        <a class="card2" href="/autores/">
            <p class="small"></p>
            <h2>Ver Mais Autores</h2>
            <div class="go-corner" href="">
                <div class="go-arrow">
                </div>
            </div>
        </a>
    </div>
    </div>

    <div id="categorias">
        <h1>Categorias</h1>
        <div class="row">
                <a class="card2" href="/autores/">
                    <div class="text-center">
                    <h3>Mangas/HQs</h3>
                    <img src="/uploads/images/icons/comic.png" alt="">
                    </div>
{#                    <p class="small">Card description with lots of great facts and interesting details.</p>#}
{#                    <div>Icons made by#}
{#                        <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>#}
{#                    </div>#}
                </a>
                <a class="card2" href="/autores/">
                    <div class="text-center">
                        <h3>Games</h3>
                        <img src="/uploads/images/icons/gamepad.png" alt="">
                    </div>
                </a>
                <a class="card2" href="/autores/">
                    <div class="text-center">
                        <h3>Filmes</h3>
                        <img src="/uploads/images/icons/film.png" alt="">
                    </div>
                </a>
                <a class="card2" href="/autores/">
                    <div class="text-center">
                        <h3>Música</h3>
                        <img src="/uploads/images/icons/piano.png" alt="">
                    </div>
                </a>
                <a class="card2" href="/autores/">
                    <div class="text-center">
                        <h3>Desenhos</h3>
                        <img src="/uploads/images/icons/michaelangelo.png" alt="">
                    </div>
                </a>
                <a class="card2" href="/autores/">
                    <div class="text-center">
                        <h3>Originais</h3>
                        <img src="/uploads/images/icons/notebook.png" alt="">
                    </div>
                </a>
        </div>
    </div>

    <div id="historiasAcao">
    <h1>Histórias de Ação</h1>
    <div class="row">
        {% for historia in historiasAcao %}
            <div class="col">
                <div class="card">
                    <div class="additional">
                        <div class="user-card">
                            <div class="level center">
                                {{ historia.getIdAutor.getApelido }}
                            </div>
                            <div class="points center">

                            </div>
                            <img width="110" height="200" src="/uploads/images/historias/{{ historia.image }}" class="center logo">
                        </div>
                        <a href="/historia/{{ historia.getId }}">
                            <div class="more-info">
                                <h1>{{ historia.getTitulo }}</h1>
                                <div class="coords">
                                    <span>Gênero</span>
                                    <span>Gênero</span>
                                </div>
                                <div class="coords">
                                    <span>Categoria</span>
                                    <span>Categoria</span>
                                </div>
                                <div class="stats">
                                    <div>
                                        <div class="title">Finalizada?</div>
                                        <i class="fas fa-check-circle"></i>
                                        <div class="value">{% if  historia.getStatus == 1 %}
                                                Sim
                                            {% else %}
                                                Nao
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div>
                                        <div class="title">Capitulos</div>
                                        <i class="fas fa-file-alt"></i>
                                        <div class="value">{{ historia.getCapitulos|length }}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="general">
                        <h1>{{ historia.getTitulo }}</h1>
                        <p>{{ historia.getSinopse }}</p>
                        <span class="more">Ver Mais</span>
                    </div>


                    <div>
                        <h2></h2><br>
                        <h3>Sinopse</h3>
                        <p></p><br>
                        <h3>Status</h3>
                        <p></p><br>
                        <h3>Classificacao</h3>
                        <p>{{ historia.getClassificacao }}</p><br>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>

    <div id="historiasAventura">
    <h1>Histórias de Aventura</h1>
    <div class="row">
        {% for historia in historiasAventura %}
            <div class="col">
                <div class="card">
                    <div class="additional">
                        <div class="user-card">
                            <div class="level center">
                                {{ historia.getIdAutor.getApelido }}
                            </div>
                            <div class="points center">

                            </div>
                            <img width="110" height="200" src="/uploads/images/historias/{{ historia.image }}" class="center logo">
                        </div>
                        <a href="/historia/{{ historia.getId }}">
                            <div class="more-info">
                                <h1>{{ historia.getTitulo }}</h1>
                                <div class="coords">
                                    <span>Gênero</span>
                                    <span>Gênero</span>
                                </div>
                                <div class="coords">
                                    <span>Categoria</span>
                                    <span>Categoria</span>
                                </div>
                                <div class="stats">
                                    <div>
                                        <div class="title">Finalizada?</div>
                                        <i class="fas fa-check-circle"></i>
                                        <div class="value">{% if  historia.getStatus == 1 %}
                                                Sim
                                            {% else %}
                                                Nao
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div>
                                        <div class="title">Capitulos</div>
                                        <i class="fas fa-file-alt"></i>
                                        <div class="value">{{ historia.getCapitulos|length }}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="general">
                        <h1>{{ historia.getTitulo }}</h1>
                        <p>{{ historia.getSinopse }}</p>
                        <span class="more">Ver Mais</span>
                    </div>


                    <div>
                        <h2></h2><br>
                        <h3>Sinopse</h3>
                        <p></p><br>
                        <h3>Status</h3>
                        <p></p><br>
                        <h3>Classificacao</h3>
                        <p>{{ historia.getClassificacao }}</p><br>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>

    <div id="historias">
        <h1>Histórias</h1>
        <div class="row">
            {% for historia in historias %}
                <div class="col">
                    <div class="card">
                        <div class="additional">
                            <div class="user-card">
                                <div class="level center">
                                    {{ historia.getIdAutor.getApelido }}
                                </div>
                                <div class="points center">

                                </div>
                                <img width="110" height="200" src="/uploads/images/historias/{{ historia.image }}" class="center logo">
                            </div>
                            <a href="/historia/{{ historia.getId }}">
                                <div class="more-info">
                                    <h1>{{ historia.getTitulo }}</h1>
                                    <div class="coords">
                                        <span>Gênero</span>
                                        <span>Gênero</span>
                                    </div>
                                    <div class="coords">
                                        <span>Categoria</span>
                                        <span>Categoria</span>
                                    </div>
                                    <div class="stats">
                                        <div>
                                            <div class="title">Finalizada?</div>
                                            <i class="fas fa-check-circle"></i>
                                            <div class="value">{% if  historia.getStatus == 1 %}
                                                    Sim
                                                {% else %}
                                                    Nao
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div>
                                            <div class="title">Capitulos</div>
                                            <i class="fas fa-file-alt"></i>
                                            <div class="value">{{ historia.getCapitulos|length }}</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="general">
                            <h1>{{ historia.getTitulo }}</h1>
                            <p>{{ historia.getSinopse }}</p>
                            <span class="more">Ver Mais</span>
                        </div>


                        <div>
                            <h2></h2><br>
                            <h3>Sinopse</h3>
                            <p></p><br>
                            <h3>Status</h3>
                            <p></p><br>
                            <h3>Classificacao</h3>
                            <p>{{ historia.getClassificacao }}</p><br>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        </div>

</div>
{% endblock %}
