{% extends 'nav.html.twig' %}

{% block title %}Configuração{% endblock %}

{% block body %}
    <style>

        img.card-img-top{
            padding-top: 10px;
        }

        div.col{
            padding-top: 50px;
        }

        div#texto{
            padding-left: 30px;
        }

        div#texto-corpo{
            padding-top: 15px;
            margin-left: 30px;
        }

        h4{
            padding-top: 10px;
            text-align: center;
        }

        div#box{
            width: 100%;
            height: 2px;
            background-color: #7e80c9;
        }

        div.container{
            padding-top: 60px;
        }

    </style>

    <div class="container">
        <div class="d-flex justify-content-between">
            <h1>Meus Dados</h1>
        </div>
        <div id="box"></div>
        <div class="row">
           <div class="col">
               <img src="https://webkit.org/demos/srcset/image-src.png" class="card-img-top">
               {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                   <h4 class="font-weight-light">{{ app.user.apelido }}</h4>
               {% endif %}
           </div>
            <div class="col">
                <div id="texto">
                    <div id="texto-corpo">
                        <label for="">Email</label>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <h5 class="font-weight-light">{{ app.user.email }}</h5>
                        {% endif %}

                        {% if dados != null %}
                        <label for="">CPF</label>
                        <h5 class="font-weight-light">{{ dados.cpf }}</h5>

                        <label for="">Agência</label>
                        <h5 class="font-weight-light">{{ dados.agencia }}</h5>

                        <label for="">Banco</label>
                        <h5 class="font-weight-light">{{ dados.banco }}</h5>

                        <label for="">Conta</label>
                        <h5 class="font-weight-light">{{ dados.numeroConta }}</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="float-right">
                    {% if dados != null %}
                        <a href="/dados/update" class="btn btn-light">
                            <i class="fas fa-pen"></i>
                            Alterar Dados
                        </a>
                    {% endif %}
                    {% if dados == null%}
                        <a href="/dados/create" class="btn btn-light">
                            <i class="fas fa-pen"></i>
                            Inserir Dados
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}