{% extends 'nav.html.twig' %}

{% block title %}Capitulo{% endblock %}

{% block body %}
    <style>
        h4,h5,p{
            text-align: center;
        }

        ul.nav.justify-content-end{
            margin: 20px;
        }

        :root {
            --background: var(--white);
            --content: var(--dark);
            --content-alt: var(--gray);
        }

        @media (prefers-color-scheme: dark) {
            :root {
                --background: var(--dark);
                --content: var(--white);
                --content-alt: var(--gray);
            }
        }

        body.theme--light {
            --background: var(--white);
            max-height: 100%;
        }
        body.theme--dark {
            --background: var(--dark);
            color: #ffffff;
            max-height: 100%;
        }

        body.theme--dark div#box{
            background-color: white;
        }

        body.theme {
            background-color: var(--background);
            max-height: 100%;
        }

        html,body{
            max-height: 100%;
        }

        .container{
            padding-top: 40px;
            max-height: 100%;
        }

        div#divContent{
            max-height: 100%;
            margin-bottom: 50px;
        }

        img.img-responsive.image-resize{
            height: 70px;
            width: 70px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }

        div#divComentarios{
            margin-top: 40px;
            margin-bottom: 20px;
        }

        div#divFormComentario{
            margin-top: 20px;
            /*margin-bottom: 10px;*/
        }

        div#divFormComentario button{
            float: right;
        }

        div#box{
            width: 100%;
            height: 2px;
            background-color: #636163;
        }

        p.text-break{
            text-align: left;
        }

        div#divComentarios h3{
            text-align: end;
            margin-bottom: 30px;
        }

        div.row#rowComentarios{
            margin-top: 40px;
        }

    </style>

    <div class="container">
                <ul class="nav justify-content-end" id="menu-cust">
                    <li class="nav-item">
                        <button class="btn btn-outline-secondary" id="up"><i class="fas fa-plus"></i></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-secondary" id="down"><i class="fas fa-minus"></i></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-secondary" id="escuro"><i class="fas fa-moon"></i></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-secondary" id="claro"><i class="far fa-lightbulb"></i></button>
                    </li>
                </ul>
                <div id="divContent">
                <h4>{{ capitulo.getTitulo }}</h4>
                <h5 class="font-weight-light">{{ capitulo.getDataPublicacao|date('d/m/Y') }}</h5>
                    <div id="divFont">
                        <p>
                            {{ capitulo.getTexto | raw }}
                        </p>
                    </div>
                </div>


        <div id="box"></div>
        <div id="divComentarios">
            <h3>{{ comentarios|length }} comentários</h3>
            {% for comentario in comentarios %}
                <div class="row" id="rowComentarios">
                    <div class="col-2">
                        <div class="text-center">
                            <img src="/uploads/images/autores/{{ comentario.getIdLeitor.image }}" class="img-responsive image-resize" alt="">
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="d-flex justify-content-between">
                            <p class="font-weight-bold">{{ comentario.idLeitor.apelido }}</p>
                            <h6 class="text-muted">{{ comentario.getDataPublicacao|date('d/m/Y') }}</h6>
                        </div>
                        <div>
                            <p class="text-break">{{ comentario.texto }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="divFormComentario">
            {{ form(form) }}
        </div>
{#                <ul class="nav justify-content-between">#}
{#                    <li class="nav-item">#}
{#                        <button class="btn btn-outline-secondary"><i class="fas fa-arrow-left"></i></button>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <button class="btn btn-outline-secondary" id="escuro"><i class="fas fa-arrow-right"></i></button>#}
{#                    </li>#}
{#                </ul>#}
    </div>

    <script type="text/javascript">
        {
            let currentTheme = "light";
            document.body.classList.add('theme--light');

            const updateBtn = (className, theme) => {
                let btns = [...document.querySelectorAll(className)];
                let currentTheme = className.split("-").pop();
                let classNameText = className.replace(/\./g, "");
                let classNameUpdated = classNameText.replace(currentTheme, theme);
                btns.forEach((btn) => {
                    btn.classList.remove(classNameText);
                    btn.classList.add(classNameUpdated);
                });
            }

            const setLightTheme = () => {
                currentTheme = 'light';
                document.body.classList.add('theme--light');
                document.body.classList.remove('theme--dark');
                updateBtn('.btn-light', 'dark');
                updateBtn('.btn-outline-light', 'dark');
            }

            const setDarkTheme = () => {
                currentTheme = 'dark';
                document.body.classList.add('theme--dark');
                document.body.classList.remove('theme--light');
                updateBtn('.btn-dark', 'light');
                updateBtn('.btn-outline-dark', 'light');
            }



            document.body.classList.add("theme");

            document.getElementById('claro')
                .addEventListener('click', setLightTheme);
            document.getElementById('escuro')
                .addEventListener('click', setDarkTheme);

        }

        function getSize() {
            size = $( "div#divFont" ).css( "font-size" );
            size = parseInt(size, 10);
            $( "#font-size" ).text(  size  );
        }

        //get inital font size
        getSize();

        $( "#up" ).on( "click", function() {

            // parse font size, if less than 50 increase font size
            if ((size + 2) <= 50) {
                $( "div#divFont" ).css( "font-size", "+=2" );
                $( "#font-size" ).text(  size += 2 );
            }
        });

        $( "#down" ).on( "click", function() {
            if ((size - 2) >= 12) {
                $( "div#divFont" ).css( "font-size", "-=2" );
                $( "#font-size" ).text(  size -= 2  );
            }
        });

    </script>
{% endblock %}
